.message-confirm-button {
  color: #fff;
  background-color: #344792;
}

.message-confirm-button:hover {
  background-color: #25336a;
}

.message-input-blocked {
  cursor: not-allowed;
}

.message-input-blocked:hover {
  background-color: #344792;
}
