.message-content {
  font-size: 1em;
}

.message-user {
  font-weight: bold;
  margin-bottom: 0.2em;
}

.message-bottom {
  font-size: 0.9em;
  margin-top: 1.5em;
  float: right;
  display: flex;
}

.message-bottom * {
  color: #a3abe0;
}

@media all and (max-width: 600px) {

  .message-bottom {
    margin-top: 0.5em;
  }
}
