.message-hr-wrapper {
  margin: 2em 0;
  position: relative;
}

.message-hr {
  border: none;
  background-color: #a3abe0;
  color: #a3abe0;
  height: 1px;
}

.message-hr-title-wrapper {
  position: absolute;
  top: -0.8em;
  left: 50%;
}

.message-hr-title {
  position: relative;
  text-align: center;
  left: -50%;
  color: #fff;
  padding: 0.2em 3em;
  background-color: #a3abe0;
  border-radius: 1em;
}

@media all and (max-width: 600px) {

  .message-hr-title {
    padding: 0.2em 1em;
  }
}
