.message-wrapper {
  width: 100%;
  display: flex;
}

.message-wrapper-right {
  justify-content: flex-end;
}

.message {
  max-width: 60%;
  width: fit-content;
  padding: 1em;
  margin: 0.5em 1em;
  background-color: #f2f7ff;
  box-shadow: 0 0 3px #a3aed7;
  border-radius: 10px;
  display: flex;
  white-space: pre-wrap;
}

@media all and (max-width: 600px) {

  .message {
    max-width: 80%;
    padding: 0.5em;
    margin: 0.5em;
  }
}
